<script>
    function onSubmit(e) {
        e.preventDefault();
        let data = {
            joke: document.getElementById("joke").value
        }
        postData(data);
    }
    async function postData(data) {
        await fetch('/Home/Index', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data)
                var categoryText = document.getElementById('categoryText');
                categoryText.textContent = `Most suitable category - '${data.category}'. Probability - '${data.percent}'`;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>

<div class="col-md-8 offset-md-2">
    <form onsubmit="onSubmit(event)">
        <label class="form-label">Joke: </label>
        <textarea class="form-control" rows="7" id="joke"></textarea>
        <div class="form-text">
            Try out the joke prediction. Insert a joke similar to the following one:
            asd
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p class="card-text" id="categoryText"></p>
</div>

